body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header-container {
  width: 100%;
  height: 7%;
  background-color: #1d1d1d;
  position: fixed;
  top: 0;
  left: 0;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.77);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.77);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.77);
    z-index: 1;
}

.logo {
    left: 0.5%;
    top: 0.3%;
    width: 5%;
    position: fixed;

}

.ticker-container {
    width: 20%;
    height: 93%;
    top: 7%;
    right: 0;
    background-color: #484848;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}

.graph-container {
    top: 7%;
    height: 37%;
    width: 80%;
    right: 20%;
    background-color: #D5D5D5;
    position: fixed;
}

.graph {
    width: 78%;
    height: 30%;
    top: 9%;
    left: 1%;
    background-color: whitesmoke;
    position: fixed;
}

.portfolio-toolbar {
    top: 44%;
    width: 80%;
    height: 5%;
    background-color: #1d1d1d;
    right: 20%;
    position: fixed;
}

.portfolio-performance {
    top: 49%;
    right: 20%;
    width: 20%;
    height: 100%;
    background-color: #303030;
    position: fixed;

}

.portfolio-container {
    top: 49%;
    right: 40%;
    width: 100%;
    height: 100%;
    background-color: #a6a3a9;
    position: fixed;
}

